*{
    margin: 0px;
    padding: 0px;   
}

header{
    border: 3px solid aqua;
    height: 50px;
    text-align: center;
}
section{
    border: 3px solid rgb(255, 153, 0);

}
article{
    border: 3px solid rgb(43, 255, 0);
    height: 150px;
    width: 341px;
    display: inline-block;
    text-align: center;
}
aside{
    border: 3px solid rgb(255, 38, 0);
    height: 150px;
    width: 141px;
    display: inline-block;
    text-align: center;
}
footer{
    border: 3px solid rgb(132, 0, 255);
    height: 50px;
    text-align: center;
    
}   